/* ⚡ xlfr4n // Kali BSPWM 2026 */

* {
  bg: #0b0d10;
  bg-alt: #161b22;
  fg: #ffffff;
  muted: #8b949e;
  accent: #ff3344;
  dark-accent: #101216;
  font: "JetBrains Mono 10";
  border: #66ff3344;
}

window {
  width: 48%;
  location: center;
  anchor: center;
  background-color: @bg;
  border: 1px;
  border-color: @border;
  border-radius: 18px;
  padding: 18px;
}

mainbox {
  padding: 6px;
}

inputbar {
  padding: 9px;
  background-color: @bg-alt;
  border: 1px;
  border-color: @accent;
  border-radius: 6px;
}

prompt {
  text-color: @accent;
  padding: 0px 10px 0px 0px;
}

entry {
  text-color: @fg;
  placeholder: "Search xlfr4n...";
  placeholder-color: @muted;
}

listview {
  lines: 9;
  columns: 1;
  fixed-height: false;
  spacing: 7px;
  padding: 8px 0px 0px;
}

element {
  padding: 9px;
  border-radius: 6px;
  background-color: transparent;
}

element-text {
  text-color: @fg;
  font: "JetBrains Mono 10";
}

element selected {
  background-color: @accent;
}

element-text selected {
  text-color: @dark-accent;
  font: "JetBrains Mono 10";
}

element-icon {
  size: 1.0em;
  padding: 0px 8px 0px 0px;
}
