[Desktop Entry]
Type=Application
Version=1.0
Name=xLFr4n — Target
Comment=Current target control
Exec=sh -c "dock-launch target"
Icon=xlfr4n-target
Terminal=false
NoDisplay=true
