[Desktop Entry]
Type=Application
Version=1.0
Name=xLFr4n — Neovim
Comment=Floating Neovim editor
Exec=sh -c "kitty --class floating_nvim -e nvim"
Icon=text-editor
Terminal=false
NoDisplay=true
StartupWMClass=floating_nvim
