[Desktop Entry]
Type=Application
Version=1.0
Name=⚡ xLFr4n Menu
Comment=Workspace control center
Exec=/usr/local/bin/xLFr4n-dock-launch kali
Icon=xlfr4n-menu
Terminal=false
NoDisplay=true
